<div class = "info flex-group-center">
  Info
</div>

<section class="grid grid-3col">
  <!--power defs-->
  <section class="main grid-span-1">
    <label for="system.renegade.breed" class="resource-label">Breed</label>
    <div class="resource-content flexrow flex-center flex-between">
      {{system.renegade.breed}}
    </div>
    
  </section>

  <section class="main grid-span-1">
    {{> "systems/double_cross/templates/actor/parts/actor-syndromes.html"}}
  </section>

  <section class="main grid-span-1">
    <div class="abilities flexcol">
      <label class="resource-label">Modifiers</label>
      {{#each system.renegade.mods as |ability key|}}
      <div class="ability flexrow flex-group-center">
        <label for="system.renegade.mods.{{key}}.value" class="resource-label rollable flexlarge align-left" data-label="{{ability.label}}">{{ability.label}}</label>
        <input type="text" name="system.renegade.mods.{{key}}.value" value="{{ability.value}}" data-dtype="Number"/>
      </div>
      {{/each}}
    </div>
  </section>
</section>

<div class = "info flex-group-center">
  Powers
</div>

<!--Add powers-->
<div class="grid grid-15col item items-header">
  <div class = "grid-span-1">Name</div>
  <div class = "grid-span-1">Lvl</div>
  <div class = "grid-span-1">Max Lvl</div>
  <div class = "grid-span-1">Skill</div>
  <div class = "grid-span-1">Timing</div>
  <div class = "grid-span-1">Dfclty</div>
  <div class = "grid-span-1">Target</div>
  <div class = "grid-span-1">Rng</div>
  <div class = "grid-span-1">Encr.</div>
  <div class = "grid-span-1">%</div>
  <div class = "grid-span-1">Uses</div>
  <div class = "grid-span-1">Desc</div>
  <div class = "grid-span-1">Flavor</div>
  <div class = "grid-span-1">Cost</div>
  <div class="grid-span-1 item-controls">
    <a class="item-control item-create" title="Create item" data-type="power"><i class="fas fa-plus"></i> Add power</a>
  </div>
</div>
<ol class="items-list">
  {{#each powers as |item id|}}
    <li class="item grid grid-15col" data-item-id="{{item._id}}">
      <div class = "grid-span-1 flex-group-center">{{item.name}}</div>
      <div class = "grid-span-1 flex-group-center">{{item.system.lvl}}</div>
      <div class = "grid-span-1 flex-group-center">{{item.system.maxlvl}}</div>
      <div class = "grid-span-1 flex-group-center">{{item.system.skill}}</div>
      <div class = "grid-span-1 flex-group-center">{{item.system.timing}}</div>
      <div class = "grid-span-1 flex-group-center">{{item.system.difficulty}}</div>
      <div class = "grid-span-1 flex-group-center">{{item.system.target}}</div>
      <div class = "grid-span-1 flex-group-center">{{item.system.range}}</div>
      <div class = "grid-span-1 flex-group-center">{{item.system.encroach}}</div>
      <div class = "grid-span-1 flex-group-center">{{item.system.restrict}}</div>
      <div class = "grid-span-1 flex-group-center">{{item.system.uses}}</div>
      <div class = "grid-span-1 itemtextbox flex-group-center">{{item.system.description}}</div>
      <div class = "grid-span-1 itemtextbox flex-group-center">{{item.system.flavor}}</div>
      <div class = "grid-span-1 flex-group-center">{{item.system.cost}}</div>
      <div class="grid-span-1 item-controls">
        <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
        <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
      </div>
    </li>
  {{/each}}
</ol>
