<!--Armor-->
<div class = "info flex-group-center">
  Armor
</div>

<div class="grid grid-9col item items-header">
  <div class = "grid-span-1">Name</div>
  <div class = "grid-span-1">Dodge</div>
  <div class = "grid-span-1">Initiative</div>
  <div class = "grid-span-1">Armor</div>
  <div class = "grid-span-1">Procure</div>
  <div class = "grid-span-1">Stock</div>
  <div class = "grid-span-1">Description</div>
  <div class = "grid-span-1">Equipped</div>
  <div class="grid-span-1 item-controls">
    <a class="item-control item-create" title="Create item" data-type="armor"><i class="fas fa-plus"></i> Add armor</a>
  </div>
</div>
<ol class="items-list">
  {{#each armor as |item id|}}
    <li class="item grid grid-9col" data-item-id="{{item._id}}">
      <div class = "grid-span-1 flex-group-center">{{item.name}}</div>
      <div class = "grid-span-1 flex-group-center">{{item.system.dodge}}</div>
      <div class = "grid-span-1 flex-group-center">{{item.system.initiative}}</div>
      <div class = "grid-span-1 flex-group-center">{{item.system.armor}}</div>
      <div class = "grid-span-1 flex-group-center">{{item.system.procure}}</div>
      <div class = "grid-span-1 flex-group-center">{{item.system.stock}}</div>
      <div class = "grid-span-1 itemtextbox flex-group-center">{{item.system.description}}</div>
      <div class = "grid-span-1 flex-group-center">{{item.system.armorequipped}}</div>
      <div class="grid-span-1 item-controls">
        <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
        <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
      </div>
    </li>
  {{/each}}
</ol>

<!--Weapon-->
<div class = "info flex-group-center">
  Weapons
</div>

<div class="grid grid-13col item items-header">
  <div class = "grid-span-1">Name</div>
  <div class = "grid-span-1">Type</div>
  <div class = "grid-span-1">Skill</div>
  <div class = "grid-span-1">Acc.</div>
  <div class = "grid-span-1">Power</div>
  <div class = "grid-span-1">Guard</div>
  <div class = "grid-span-1">Range</div>
  <div class = "grid-span-1">Procure</div>
  <div class = "grid-span-1">Stock</div>
  <div class = "grid-span-1">Desc.</div>
  <div class = "grid-span-1">W. Equip</div>
  <div class = "grid-span-1">S. Equip</div>
  <div class="grid-span-1 item-controls">
    <a class="item-control item-create" title="Create item" data-type="weapon"><i class="fas fa-plus"></i> Add weapon</a>
  </div>
</div>
<ol class="items-list">
  {{#each weapons as |item id|}}
    <li class="item grid grid-13col" data-item-id="{{item._id}}">
      <div class = "grid-span-1 flex-group-center">{{item.name}}</div>
      <div class = "grid-span-1 flex-group-center">{{item.system.type}}</div>
      <div class = "grid-span-1 flex-group-center">{{item.system.skill}}</div>
      <div class = "grid-span-1 flex-group-center">{{item.system.accuracy}}</div>
      <div class = "grid-span-1 flex-group-center">{{item.system.power}}</div>
      <div class = "grid-span-1 flex-group-center">{{item.system.guard}}</div>
      <div class = "grid-span-1 flex-group-center">{{item.system.range}}</div>
      <div class = "grid-span-1 flex-group-center">{{item.system.procure}}</div>
      <div class = "grid-span-1 flex-group-center">{{item.system.stock}}</div>
      <div class = "grid-span-1 itemtextbox flex-group-center">{{item.system.description}}</div>
      <div class = "grid-span-1 flex-group-center">{{item.system.weaponequipped}}</div>
      <div class = "grid-span-1 flex-group-center">{{item.system.shieldequipped}}</div>

      <div class="grid-span-1 item-controls">
        <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
        <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
      </div>
    </li>
  {{/each}}
</ol>


<!--Vehicle-->
<div class = "info flex-group-center">
  Vehicle
</div>

<div class="grid grid-10col item items-header">
  <div class = "grid-span-1">Name</div>
  <div class = "grid-span-1">Armor</div>
  <div class = "grid-span-1">Power</div>
  <div class = "grid-span-1">Initiative</div>
  <div class = "grid-span-1">Dash</div>
  <div class = "grid-span-1">Desc.</div>
  <div class = "grid-span-1">Ride Skill</div>
  <div class = "grid-span-1">Procure</div>
  <div class = "grid-span-1">Stock</div>
  <div class="grid-span-1 item-controls">
    <a class="item-control item-create" title="Create item" data-type="vehicle"><i class="fas fa-plus"></i> Add vehicle</a>
  </div>
</div>
<ol class="items-list">
  {{#each vehicles as |item id|}}
    <li class="item grid grid-10col" data-item-id="{{item._id}}">
      <div class = "grid-span-1 flex-group-center">{{item.name}}</div>
      <div class = "grid-span-1 flex-group-center">{{item.system.armor}}</div>
      <div class = "grid-span-1 flex-group-center">{{item.system.power}}</div>
      <div class = "grid-span-1 flex-group-center">{{item.system.initiative}}</div>
      <div class = "grid-span-1 flex-group-center">{{item.system.dash}}</div>
      <div class = "grid-span-1 itemtextbox flex-group-center">{{item.system.description}}</div>
      <div class = "grid-span-1 flex-group-center">{{item.system.rideskill}}</div>
      <div class = "grid-span-1 flex-group-center">{{item.system.procure}}</div>
      <div class = "grid-span-1 flex-group-center">{{item.system.stock}}</div>
      <div class="grid-span-1 item-controls">
        <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
        <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
      </div>
    </li>
  {{/each}}
</ol>


<!--Misc-->
<div class = "info flex-group-center">
  Misc
</div>

<div class="grid grid-3col item items-header">
  <div class = "grid-span-1">Name</div>
  <div class = "grid-span-1">Description</div>
  <div class="grid-span-1 item-controls">
    <a class="item-control item-create" title="Create item" data-type="misc"><i class="fas fa-plus"></i> Add misc</a>
  </div>
</div>
<ol class="items-list">
  {{#each misc as |item id|}}
    <li class="item grid grid-3col" data-item-id="{{item._id}}">
      <div class = "grid-span-1 flex-group-center">{{item.name}}</div>
      <div class = "grid-span-1 itemtextbox flex-group-center">{{item.system.description}}</div>
      <div class="grid-span-1 item-controls">
        <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
        <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
      </div>
    </li>
  {{/each}}
</ol>