<form class="{{cssClass}} {{actor.type}} flexcol" autocomplete="off">

  {{!-- Sheet Header --}}
  <header class="sheet-header">
    <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100"/>
    <div class="header-fields">
      <h1 class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="Name"/></h1>
      {{!-- The grid classes are defined in scss/global/_grid.scss. To use,
      use both the "grid" and "grid-Ncol" class where "N" can be any number
      from 1 to 12 and will create that number of columns.  --}}
      <div class="resources grid grid-3col">

      </div>
    </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    {{!-- Default tab is specified in actor-sheet.mjs --}}
    <a class="item" data-tab="data">Data</a>
    <a class="item" data-tab="powers">Powers</a>
    <a class="item" data-tab="character">Character</a>
    <a class="item" data-tab="items">Items</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">

    {{!-- Owned Features Tab --}}
    <div class="tab features" data-group="primary" data-tab="data">
      <!-- stats-->
      <div class = "info flex-group-center">
        Stats
      </div>

      <section class="grid grid-4col">
        {{#each system.stats as |ability key|}}
          <section class = "grid-span-1">
            <div class="ability flexrow flex-group-center">
              <label for="system.stats.{{key}}.value" class="resource-label rollable flexlarge align-left" data-roll="[{{ability.value}},0,10]" data-label="{{ability.label}}">{{ability.label}}</label>
              <input type="number" name="system.stats.{{key}}.value" value="{{ability.value}}" data-dtype="Number"/>
            </div>
          </section>
        {{/each}}
      </section>

      <!--skills-->
      <div class = "info flex-group-center">
        Skills
      </div>

      <section class="grid grid-4col">
        {{#each system.skills as |skill key|}}
          <section class = "grid-span-1">
            <div class="skill flexrow flex-group-center">
              <label for="system.skills.{{key}}.value" class="resource-label rollable flexlarge align-left" data-roll="[-1,{{skill.value}},10]" data-label="{{skill.label}}">{{skill.label}}</label>
              <input type="number" name="system.skills.{{key}}.value" value="{{skill.value}}" data-dtype="Number"/>
            </div>
          </section>
        {{/each}}
      </section>

      <!--Special skills-->
      <section class="grid grid-4col">
        {{#each system.specialskills as |group keyext|}}
          <section class = "grid-span-1 flexcol">
            {{#each group.skills as |skill key|}}
              <div class="skill flexrow flex-group-center">
                <label for="system.specialskills.{{keyext}}.skills.{{key}}.value" class="resource-label rollable flexlarge align-left" data-roll="[-1,{{skill.value}},10]" data-label="{{group.label}}">{{group.label}}</label>
                <input type="text" name="system.specialskills.{{keyext}}.skills.{{key}}.name" value="{{skill.name}}" data-dtype="String"/>
                <input type="number" name="system.specialskills.{{keyext}}.skills.{{key}}.value" value="{{skill.value}}" data-dtype="Number"/>
              </div>
            {{/each}}
          </section>
        {{/each}}
      </section>

      <!--Derived Stats-->
      <div class = "info flex-group-center">
        Derived Stats
      </div>

      <!--Sadly since we have to handle each different there's no iteration LMAO-->
      <div class = "flexrow">
        <!--HP-->
        <div class="derived flex-group-center">
          <label for="system.derived.health.current" class="resource-label flexlarge align-left">HP</label>
          <input type="number" name="system.derived.health.current" value="{{system.derived.health.current}}" data-dtype="Number"/>
          <span class ="derivednum">/ {{system.derived.health.max}}</span>
        </div>

        <!--Stock-->
        <div class="derived flex-group-center">
          <label for="system.derived.stock.current" class="resource-label flexlarge align-left">Stock</label>
          <input type="number" name="system.derived.stock.current" value="{{system.derived.stock.current}}" data-dtype="Number"/>
          <span class ="derivednum">/ {{system.derived.stock.max}}</span>
        </div>

        <!--Savings-->
        <div class="derived flex-group-center">
          <label for="system.derived.savings" class="resource-label flexlarge align-left">Savings</label>
          <input type="number" name="system.derived.savings" value="{{system.derived.savings}}" data-dtype="Number"/>
        </div>

        <!--Initiative-->
        <div class="derived flex-group-center">
          <label for="system.derived.initiative" class="resource-label flexlarge align-left">Init</label>
          <span class ="derivednum">{{system.derived.initiative}}</span>
        </div>

        <!--Move-->
        <div class="derived flex-group-center">
          <label for="system.derived.move" class="resource-label flexlarge align-left">Move</label>
          <span class ="derivednum">{{system.derived.move}}</span>
        </div>

        <!--Dash-->
        <div class="derived flex-group-center">
          <label for="system.derived.dash" class="resource-label flexlarge align-left">Dash</label>
          <span class ="derivednum">{{system.derived.dash}}</span>
        </div>
      </div>

      <!--Doom Stats-->
      <div class = "info flex-group-center">
        Encroach
      </div>
      
      <!--Sadly since we have to handle each different there's no iteration LMAO-->
      <div class = "flexrow">
        <!--Lvl-->
        <div class="derived flex-group-center">
          <label for="system.encroach.lvl" class="resource-label flexlarge align-left">Lvl</label>
          <span class ="derivednum">{{system.encroach.lvl}}</span>
        </div>

        <!--Dice-->
        <div class="derived flex-group-center">
          <label for="system.encroach.dice" class="resource-label flexlarge align-left">Dice</label>
          <span class ="derivednum">{{system.encroach.dice}}</span>
        </div>

        <!--Min Encroach-->
        <div class="derived flex-group-center">
          <label for="system.encroach.min" class="resource-label flexlarge align-left">Min Encroach</label>
          <input class = "encroach" type="number" name="system.encroach.min" value="{{system.encroach.min}}" data-dtype="Number"/>
        </div>

        <!--Encroach-->
        <div class="derived flex-group-center">
          <label for="system.encroach.value" class="resource-label flexlarge align-left">Encroach</label>
          <input class = "encroach" type="number" name="system.encroach.value" value="{{system.encroach.value}}" data-dtype="Number"/>
          <span class ="derivednum">/100</span>
        </div>
      </div>

      <!--Item Stats-->
      <div class = "info flex-group-center">
        Item Stats
      </div>

      <section class="grid grid-6col">
        {{#each system.itemstats as |ability key|}}
          <section class = "grid-span-1">
            <div class="ability flexrow flex-group-center">
              <label for="system.itemstats.{{key}}.value" class="resource-label flexlarge align-left" data-label="{{ability.label}}">{{ability.label}}</label>
              <input type="number" name="system.itemstats.{{key}}.value" value="{{ability.value}}" data-dtype="Number"/>
            </div>
          </section>
        {{/each}}
      </section>

    </div>

    {{!-- Power Tab --}}
    <div class="tab powers" data-group="primary" data-tab="powers">
      {{> "systems/double_cross/templates/actor/parts/actor-powers.html"}}
    </div>

    {{!-- Character Tab --}}
    <div class="tab character" data-group="primary" data-tab="character">
      {{> "systems/double_cross/templates/actor/parts/actor-character.html"}}
    </div>

    {{!-- Owned Items Tab --}}
    <div class="tab items" data-group="primary" data-tab="items">
       {{> "systems/double_cross/templates/actor/parts/actor-items.html"}}
    </div>

  </section>
</form>

