<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
    <div class="header-fields">
      <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
    </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="description">Description</a>
    <a class="item" data-tab="attributes">Attributes</a>
    <a class="item" data-tab="flavor">Flavor</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">

    {{!-- Description Tab --}}
    <div class="tab" data-group="primary" data-tab="description">
      <textarea name="system.description" value="{{system.description}}">{{system.description}}</textarea>
    </div>

    {{!-- Flavor Tab --}}
    <div class="tab" data-group="primary" data-tab="flavor">
      <textarea name="system.flavor" value="{{system.flavor}}">{{system.flavor}}</textarea>
    </div>

    {{!-- Attributes Tab --}}
    <div class="tab attributes" data-group="primary" data-tab="attributes">
      {{!-- As you add new fields, add them in here! --}}
      <div class="resource">
        <label class="resource-label">Level</label>
        <input type="text" name="system.lvl" value="{{system.lvl}}" data-dtype="Number"/>
        <label class="resource-label">Max Level</label>
        <input type="text" name="system.maxlvl" value="{{system.maxlvl}}" data-dtype="Number"/>
        
        <!--Skill-->
        <label class="resource-label">Skill</label>
        <select name = "system.skill" data-dtype="String">
          {{#select system.skill}}
            {{#each skillslist}}
              <option value="{{this}}">{{this}}</option>
            {{/each}}
          {{/select}}
        </select>

        <!--Timing-->
        <label class="resource-label">Timing</label>
        <select name = "system.timing" data-dtype="String">
          {{#select system.timing}}
            {{#each timinglist}}
              <option value="{{this}}">{{this}}</option>
            {{/each}}
          {{/select}}
        </select>

        <!--Difficulty-->
        <label class="resource-label">Difficulty</label>
        <select name = "system.difficulty" data-dtype="String">
          {{#select system.difficulty}}
            {{#each difficultylist}}
              <option value="{{this}}">{{this}}</option>
            {{/each}}
          {{/select}}
        </select>

        <!--Target-->
        <label class="resource-label">Target</label>
        <select name = "system.target" data-dtype="String">
          {{#select system.target}}
            {{#each targetlist}}
              <option value="{{this}}">{{this}}</option>
            {{/each}}
          {{/select}}
        </select>

        <!--Range-->
        <label class="resource-label">Range</label>
        <select name = "system.range" data-dtype="String">
          {{#select system.range}}
            {{#each rangelist}}
              <option value="{{this}}">{{this}}</option>
            {{/each}}
          {{/select}}
        </select>

        <!--Encroach-->
        <label class="resource-label">Encroach</label>
        <select name = "system.encroach" data-dtype="String">
          {{#select system.encroach}}
            {{#each encroachlist}}
              <option value="{{this}}">{{this}}</option>
            {{/each}}
          {{/select}}
        </select>

        <label class="resource-label">Restrict%</label>
        <input type="text" name="system.restrict" value="{{system.restrict}}" data-dtype="Number"/>

        <label class="resource-label">Uses</label>
        <input type="text" name="system.uses" value="{{system.uses}}" data-dtype="Number"/>

        <label class="resource-label">Cost</label>
        <input type="text" name="system.cost" value="{{system.cost}}" data-dtype="Number"/>
        
      </div>
    </div>
  </section>
</form>
